USE [Tickets_Proactivanet]
GO
/****** Objeto: View [dbo].[vw_Cerrados_15Dias] Fecha de script: 25/09/2026 11:34:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Cerrados_15Dias]
AS
SELECT
    FechaRegistro,
    FechaEstimadaResolucion,
    SLA,
    CodigoTicket,
	Grupo,
	TecnicoSegundaLinea,
	Estado,
	Subestado,
	Prioridad,
	Titulo,
	Descripcion,
	Cliente,
	Sucursal,
	Categoria,
	SolucionUsuario,
	FechaFirmaSolucion,
	FechaUltimaModificacion,
	FechaFirmaCierre,
	FirmaCierreRevocacion,
	FirmaSolucion,
	ResponsableUltimaModificacion,
	NotificadoPor,
	Tipo,
	FechaEstimadaOlaUc,
	TiempoResolucion,
	TiempoAtencionHorasMin,
	TiempoPrimeraRespuestaHorasMin,
	IntentosSolucion,
	TiempoPrimeraRespuesta,
	TiempoAtencion,
	Caducada,
	RegistradoPor,
	TipoRelacion,
	CausaRaizGrupos,
	ReasignacionesGrupo,
	CausaRaizFenix


FROM dbo.vw_Cerrados
WHERE FechaFirmaSolucion >= DATEADD(DAY, -15, CAST(GETDATE() AS DATE))
;
GO
/****** Objeto: View [dbo].[vw_Creados_15Dias] Fecha de script: 25/09/2026 11:34:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Creados_15Dias]
AS
SELECT
    FechaRegistro,
    FechaEstimadaResolucion,
    SLA,
    CodigoTicket,
	Grupo,
	TecnicoSegundaLinea,
	Estado,
	Subestado,
	Prioridad,
	Titulo,
	Descripcion,
	Cliente,
	Sucursal,
	Categoria,
	SolucionUsuario,
	FechaFirmaSolucion,
	FechaUltimaModificacion,
	FechaFirmaCierre,
	FirmaCierreRevocacion,
	FirmaSolucion,
	ResponsableUltimaModificacion,
	NotificadoPor,
	Tipo,
	FechaEstimadaOlaUc,
	TiempoResolucion,
	TiempoAtencionHorasMin,
	TiempoPrimeraRespuestaHorasMin,
	IntentosSolucion,
	TiempoPrimeraRespuesta,
	TiempoAtencion,
	Caducada,
	RegistradoPor,
	TipoRelacion,
	CausaRaizGrupos,
	ReasignacionesGrupo,
	CausaRaizFenix


FROM dbo.vw_Creados
WHERE FechaRegistro >= DATEADD(DAY, -15, CAST(GETDATE() AS DATE))


;
GO
/****** Objeto: View [dbo].[vw_QA_15Dias] Fecha de script: 25/09/2026 11:34:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_QA_15Dias]
AS

SELECT
    *
FROM dbo.vw_Tickets
WHERE FechaRegistro >= DATEADD(DAY,-15,CAST(GETDATE() AS DATE))
AND Estado IN ('Cerrada');
GO
/****** Objeto: View [dbo].[vw_Tickets_Data] Fecha de script: 25/09/2026 11:34:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   VIEW [dbo].[vw_Tickets_Data]
AS
SELECT
	
	t.CodigoTicket,
	t.FechaRegistro,
	t.FechaEstimadaResolucion,
	t.SLA,
	t.Grupo,
	t.TecnicoSegundaLinea,
	t.Estado,
	t.Subestado,
	t.Prioridad,
	t.Titulo,
	t.Descripcion,
	t.Cliente,
	t.Sucursal,
	t.Categoria,
	t.SolucionUsuario,

	t.FechaFirmaSolucion,
	t.FechaUltimaModificacion,
	t.FechaFirmaCierre,
	t.FirmaCierreRevocacion,
	t.FirmaSolucion,
	t.ResponsableUltimaModificacion,
	t.NotificadoPor,
	t.Tipo,
	t.FechaEstimadaOlaUc,
	t.TiempoResolucion,
	t.TiempoAtencionHorasMin,
	t.TiempoPrimeraRespuestaHorasMin,
	t.IntentosSolucion,
	t.TiempoPrimeraRespuesta,
	t.TiempoAtencion,
	t.Caducada,
	t.RegistradoPor,
	t.TipoRelacion,
	t.ReasignacionesGrupo,
	t.CausaRaizGrupos,
	t.CausaRaizFenix,
	t.QA_MensajeError,
	t.QA_Frecuencia,
	t.QA_Aplicacion,
	t.QA_PasoAPaso,
	t.QARe_Causa,
	t.QARe_UsuarioConfirmo,
	t.QARe_AplicaOtrosCasos,
	t.QARe_GenerarArticulo,
	t.QARe_VerificoClasificacion,
	t.QARe_Evidencia,
	t.QARe_DescripcionSolucion,
	t.QARe_TipoSolucion,


	-- AÑO, MES, AÑO MES
	YEAR(t.FechaRegistro) AS Calendar_Year,
    MONTH(t.FechaRegistro) AS Calendar_Month,
    CONCAT(YEAR(t.FechaRegistro), '-',RIGHT('00'+CAST(MONTH(t.FechaRegistro) AS VARCHAR(2)),2)) AS Calendar_YearMonth,
	FLOOR(
        DATEDIFF(DAY, t.FechaRegistro, GETDATE()) / 30.0
    ) AS Slot,

    -- DÍAS SOLOS
    FechaRegistroDia = CONVERT(date,t.FechaRegistro),
    FechaSolucionDia = CONVERT(date,t.FechaFirmaSolucion),
    FechaCierreDia   = CONVERT(date,t.FechaFirmaCierre),

    -- Técnicos
    TecnicoAsignado =
        ISNULL(NULLIF(LTRIM(RTRIM(t.TecnicoSegundaLinea)),''),'Sin asignar'),

    TecnicoResolvio =
        ISNULL(NULLIF(LTRIM(RTRIM(t.FirmaSolucion)),''),'Sin firmar'),

    Tecnico =
        COALESCE(
            NULLIF(LTRIM(RTRIM(t.FirmaSolucion)),''),
            NULLIF(LTRIM(RTRIM(t.TecnicoSegundaLinea)),''),
            'Sin tecnico'
        ),

    -- Flags universales
    EsCreado = CAST(1 AS BIT),

    EsAbierto =
        CAST(
            CASE
                WHEN t.FechaFirmaSolucion IS NULL THEN 1
                ELSE 0
            END AS BIT
        ),

    EsCerrado =
        CAST(
            CASE
                WHEN t.FechaFirmaSolucion IS NOT NULL THEN 1
                ELSE 0
            END AS BIT
        ),

    -- SLA
    SlaEvaluable =
        CAST(
            CASE
                WHEN t.Caducada IS NOT NULL
                  OR t.FechaEstimadaResolucion IS NOT NULL
                THEN 1
                ELSE 0
            END AS BIT
        ),

    DentroSla =
        CAST(
            CASE
                WHEN t.Caducada = 0 THEN 1

                WHEN t.FechaEstimadaResolucion IS NOT NULL
                 AND t.FechaFirmaSolucion IS NOT NULL
                 AND t.FechaFirmaSolucion <= t.FechaEstimadaResolucion
                THEN 1

                ELSE 0
            END AS BIT
        ),

    SlaVencido =
        CAST(
            CASE
                WHEN t.Caducada = 1 THEN 1

                WHEN t.FechaEstimadaResolucion IS NOT NULL
                 AND t.FechaFirmaSolucion IS NOT NULL
                 AND t.FechaFirmaSolucion > t.FechaEstimadaResolucion
                THEN 1

                ELSE 0
            END AS BIT
        ),

    EstadoSLA =
        CASE
            WHEN t.Caducada = 1 THEN 'Fuera SLA'

            WHEN t.Caducada = 0 THEN 'Dentro SLA'

            WHEN t.FechaEstimadaResolucion IS NULL THEN 'No evaluable'

            ELSE 'Pendiente'
        END,
	
	--Dias
	DiasAbierto =
		CASE
			WHEN t.FechaFirmaSolucion IS NULL
			THEN DATEDIFF(
					DAY,
					t.FechaRegistro,
					SYSDATETIME()
				 )
		END,

	DiasResolucion =
		CASE
			WHEN t.FechaFirmaSolucion IS NOT NULL
			THEN DATEDIFF(
					DAY,
					t.FechaRegistro,
					t.FechaFirmaSolucion
				 )
		END,

    -- Tiempos
    HorasResolucion =
        CASE
            WHEN t.FechaFirmaSolucion IS NOT NULL
            THEN DATEDIFF(MINUTE,t.FechaRegistro,t.FechaFirmaSolucion)/60.0
        END,

    DiasCiclo =
        CASE
            WHEN t.FechaFirmaSolucion IS NOT NULL
            THEN DATEDIFF(MINUTE,t.FechaRegistro,t.FechaFirmaSolucion)/1440.0
            ELSE DATEDIFF(MINUTE,t.FechaRegistro,SYSDATETIME())/1440.0
        END

   -- AgingBucket =
   --     CASE
   --         WHEN DATEDIFF(DAY,t.FechaRegistro,ISNULL(t.FechaFirmaSolucion,SYSDATETIME())) <= 5
    --            THEN '0-5 dias'

    --        WHEN DATEDIFF(DAY,t.FechaRegistro,ISNULL(t.FechaFirmaSolucion,SYSDATETIME())) <= 10
     --           THEN '6-10 dias'

     --       WHEN DATEDIFF(DAY,t.FechaRegistro,ISNULL(t.FechaFirmaSolucion,SYSDATETIME())) <= 30
     --           THEN '11-30 dias'

     --       WHEN DATEDIFF(DAY,t.FechaRegistro,ISNULL(t.FechaFirmaSolucion,SYSDATETIME())) <= 60
     --           THEN '31-60 dias'

     --       ELSE '60+ dias'
     --   END

FROM dbo.Tickets t


WHERE t.Grupo NOT IN (
    'Datos Maestros',
    'Datos Maestros - Centros',
	'Datos Maestros - Análisis',
    'Datos Maestros - Envios Línea F&R',
    'Datos Maestros - Materiales',
    'Datos Maestros - Proveedores',
    'Datos Maestros - STIBO',
    'Dispatcher',
    'Mesa de Servicios al Personal',
    'Servicios al Personal -  Administración de Autos',
    'Servicios al Personal - Administración de Personal',
    'Servicios al Personal - Afiliación IMSS',
    'Servicios al Personal - Caja de Ahorro',
    'Servicios al Personal - Cálculo',
    'Servicios al Personal - Control de Accesos',
    'Servicios al Personal - CSC',
    'Servicios al Personal - Desvinculación',
    'Servicios al Personal - Fonacot',
    'Servicios al Personal - Incidencias',
    'Servicios al Personal - ISN',
    'Servicios al Personal - Nómina de Línea',
    'Servicios al Personal - Nómina Especial',
    'Servicios al Personal - Organización',
    'Servicios al Personal - Pagos IMSS - Infonavit',
    'Servicios al Personal - Pagos y Dispersiones',
    'Servicios al Personal - Proveedor ITX V6',
    'Servicios al Personal - Proyectos RH de Nómina (TI)',
    'Servicios al Personal - Timbrado - CFDI',
    'Soporte COCI',
    'Soporte Energeticos',
    'Soporte Planogramas Comestibles',
    'Soporte Planogramas No Comestibles',
    'Soporte RH',
    'SorIA',
	'Colaboracion Electronica',
	'Backoffice Promocional ( BOP )',
	'Portal de Servicios TI (Proactivanet)'
)
AND t.Categoria NOT IN (
    '/Datos Maestros/Administracion de Articulos Datos Basicos/Desligar codigos SAP',
    '/S-Datos-Maestros/Productos/Administracion de Datos Básicos/Cambio de capacidad de empaque City Club',
    '/S-Datos-Maestros/Productos/Administracion de Datos Básicos/Desligar codigos SAP City Club',
    '/S-Datos-Maestros/Productos/Administracion de Datos Básicos/Desligar codigos SAP Soriana',
    '/S-Datos-Maestros/Productos/Envio BD10',
    '/S-Datos-Maestros/STIBO/Flujo Alta articulos/Alta por Smartsheet',
    '/S-Energeticos/SAP',
    '/S-Mesa de Servicios al Personal/Accesos y Permisos/No cuenta con los permisos que necesito',
    '/S-Mesa de Servicios al Personal/Caja General/No se descuenta faltante en nomina',
    '/S-Mesa de Servicios al Personal/Comisiones Panadería Intelexion/Asignación Permisos',
    '/S-Mesa de Servicios al Personal/CSC Digitalización/Modificación de datos generales',
    '/S-Mesa de Servicios al Personal/HR Corporate/Problemas con mi acceso a ITX',
    '/S-Mesa de Servicios al Personal/Incidencias/No se refleja descuento de pensión alimenticia',
    '/S-Mesa de Servicios al Personal/Incidente con ITX/Falla en aplicación ITX V6',
    '/S-Mesa de Servicios al Personal/Omonel y-o Bonomatic/No se actualiza el NIP',
    '/S-Mesa de Servicios al Personal/Omonel y-o Bonomatic/No se refleja el saldo correcto',
    '/S-Mesa de Servicios al Personal/Omonel y-o Bonomatic/Requiero reposición de mi tarjeta por daño o extravió/Tipo de Nómina Semanal',
    '/S-Mesa de Servicios al Personal/Omonel y-o Bonomatic/Solicitud de traspaso de saldo Omonel',
    '/S-Mesa de Servicios al Personal/Pagos IMSS - Infonavit/Solicitud de Autorización de Notificación de Crédito en el portal de Infonavit',
    '/S-Mesa de Servicios al Personal/Pagos y Dispersiones/No se refleja folio de reposición en caja general por rechazo de nomina',
    '/S-Mesa de Servicios al Personal/Pagos y Dispersiones/No se refleja pago de vales de despensa (omonel)',
    '/S-Mesa de Servicios al Personal/Pagos y Dispersiones/Reseteo de contraseña APP Santander',
    '/S-Mesa de Servicios al Personal/Soriana Con tigo/Falla relacionada a Espacio Soriana',
    '/S-Mesa de Servicios al Personal/Tiempos & Asistencia ITX/Error al realizar carga masiva de horarios',
    '/S-Planogramas/Citrix/Incidencia en información recibida en BY/Error en información de artículos,surtido , Tiendas',
    '/S-Planogramas/Sistema/Sin acceso a la liga',
    '/S-Mesa de Servicios al Personal/Pagos y Dispersiones/No se refleja folio  de reposición  en caja general por rechazo de nomina',
    '/S-Mesa de Servicios al Personal/Pagos y Dispersiones/Reseteo de contraseña  APP Santander',
    --'/S-Planogramas/Citrix/Incidencia en información recibida en BY/Error  en información de artículos,surtido , Tiendas',
	'/S-COCI/Proveedores de Importación/Cambios/Extension de org.compras Consumo interno',
	'/S-Punto de Venta/Aplicativo/Ampliación de importe de Forma de Pago por Límite Excedido City Club',
	'/S-Punto de Venta/Aplicativo/Ampliación de importe de Forma de Pago por Límite Excedido Tienda',
	'/S-Punto de Venta/Aplicativo/Ampliación de importe por límite excedido - Otras operaciones (Devolución, Cambio y Cancelación)',
	'/S-Portal Socios Aclaraciones automaticas/Facturación/Factura con diferencia en pago/Cargo - Abono no reconocido por Programa Promocion Compra 75 CONVENIO DE PERECE',
	'/S-Portal Socios Aclaraciones automaticas/Facturación/Factura pendiente de pago/Pago Facturas Mercancia Consultar estatus de factura pendiente de pago',
	'/S-Portal de Servicios TI (Proactivanet)',
	'/S-Portal de Servicios TI (Proactivanet)/Acceso a proactivanet',
	'/S-Portal de Servicios TI (Proactivanet)/Asignación, baja o modificación de licencia de técnico',
	'/S-Portal de Servicios TI (Proactivanet)/Creación de nuevas categorías',
	'/S-Portal de Servicios TI (Proactivanet)/Generación de reportes de volumetría en Proactivanet',
	'/S-Portal de Servicios TI (Proactivanet)/Modificación de categorías creadas',
	'/S-Portal de Servicios TI (Proactivanet)/Permisos de Visibilidad a grupos resolutores',
	'/S-Portal de Servicios TI (Proactivanet)/Problemas de accesibilidad o error en Proactivanet'
)

AND t.FechaRegistro IS NOT NULL 
	and isnull(t.Estado,'') <> 'Rechazada' 
	and isnull(t.TipoRelacion, '') <> 'Dependiente';



GO
/****** Objeto: StoredProcedure [dbo].[usp_CorreoQARE_CausaRaiz] Fecha de script: 25/09/2026 11:34:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_CorreoQARE_CausaRaiz]
    @FechaInicio DATE = NULL,  -- Por defecto: fecha final menos 14 dias
    @FechaFin    DATE = NULL   -- Por defecto: fecha actual
AS
BEGIN
    SET NOCOUNT ON;

    /*
        Tablero:
        Calidad de cierre QARE

        Dataset:
        Distribucion de tickets por causa raiz

        Objetivo:
        Identificar las causas que concentran la mayor cantidad
        de tickets y entregar datos para grafica de barras o Pareto.

        Fuente:
        dbo.vw_CorreoQARECierre_Base

        Campo analizado:
        QARe_Causa

        Fecha oficial:
        FechaFirmaSolucion

        Ventana predeterminada:
        Ultimos 15 dias naturales, incluyendo la fecha final.
    */

    DECLARE @Ff DATE =
        ISNULL(@FechaFin, CONVERT(date, GETDATE()));

    DECLARE @Fi DATE =
        ISNULL(@FechaInicio, DATEADD(DAY, -14, @Ff));

    /* Primero se obtiene la cantidad de tickets por causa raiz. */
    ;WITH CausaRaizAgrupada AS
    (
        SELECT
            CausaRaiz =
                LTRIM(RTRIM(QARe_Causa)),

            CantidadTickets =
                COUNT(DISTINCT CodigoTicket)

        FROM dbo.vw_CorreoQARECierre_Base

        WHERE FechaFirmaSolucion >= @Fi
          AND FechaFirmaSolucion < DATEADD(DAY, 1, @Ff)
          AND NULLIF(LTRIM(RTRIM(QARe_Causa)), N'') IS NOT NULL

        GROUP BY
            LTRIM(RTRIM(QARe_Causa))
    ),

    /* Después se calculan ranking, porcentajes y acumulado. */
    CausaRaizPareto AS
    (
        SELECT
            CausaRaiz,
            CantidadTickets,

            TotalTicketsConCausa =
                SUM(CantidadTickets) OVER (),

            Posicion =
                ROW_NUMBER() OVER
                (
                    ORDER BY
                        CantidadTickets DESC,
                        CausaRaiz ASC
                ),

            Porcentaje =
                CAST(
                    100.0 * CantidadTickets
                    /
                    NULLIF(
                        SUM(CantidadTickets) OVER (),
                        0
                    )
                    AS DECIMAL(6,2)
                ),

            PorcentajeAcumulado =
                CAST(
                    100.0 *
                    SUM(CantidadTickets) OVER
                    (
                        ORDER BY
                            CantidadTickets DESC,
                            CausaRaiz ASC
                        ROWS BETWEEN UNBOUNDED PRECEDING
                                 AND CURRENT ROW
                    )
                    /
                    NULLIF(
                        SUM(CantidadTickets) OVER (),
                        0
                    )
                    AS DECIMAL(6,2)
                )

        FROM CausaRaizAgrupada
    )

    SELECT
        --FechaInicio = @Fi,
        --FechaFin = @Ff,
        Posicion,
        CausaRaiz,
        CantidadTickets,
        TotalTicketsConCausa,
        Porcentaje,
        PorcentajeAcumulado

    FROM CausaRaizPareto

    ORDER BY
        Posicion;
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_CorreoQARE_ConfirmacionVsQA] Fecha de script: 25/09/2026 11:34:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_CorreoQARE_ConfirmacionVsQA]
    @FechaInicio DATE = NULL,  -- Por defecto: fecha final menos 14 dias
    @FechaFin    DATE = NULL   -- Por defecto: fecha actual
AS
BEGIN
    SET NOCOUNT ON;

    /*
        Tablero:
        Calidad de cierre QARE

        Dataset:
        Matriz de confirmacion del usuario contra validacion QA

        Objetivo:
        Comparar la confirmacion registrada por el resolutor
        contra el resultado de la validacion de clasificacion QA.

        Cruce:
        QARe_UsuarioConfirmo vs Validacion

        Fuente:
        dbo.vw_CorreoQARECierre_Base

        Fecha oficial:
        FechaFirmaSolucion

        Ventana predeterminada:
        Ultimos 15 dias naturales, incluyendo la fecha final.
    */

    DECLARE @Ff DATE =
        ISNULL(@FechaFin, CONVERT(DATE, GETDATE()));

    DECLARE @Fi DATE =
        ISNULL(@FechaInicio, DATEADD(DAY, -14, @Ff));

    ;WITH MatrizAgrupada AS
    (
        SELECT
            ConfirmacionUsuario =
                CASE
                    WHEN UPPER(LTRIM(RTRIM(QARe_VerificoClasificacion)))
                         IN (N'SI', N'SÍ')
                    THEN N'Sí'

                    WHEN UPPER(LTRIM(RTRIM(QARe_VerificoClasificacion))) = N'NO'
                    THEN N'No'

                    ELSE N'Sin respuesta'
                END,

            ValidacionQA =
                ISNULL(
                    NULLIF(LTRIM(RTRIM(Validacion)), N''),
                    N'Sin validación'
                ),

            CantidadTickets =
                COUNT(DISTINCT CodigoTicket)

        FROM dbo.vw_CorreoQARECierre_Base

        WHERE FechaFirmaSolucion >= @Fi
          AND FechaFirmaSolucion < DATEADD(DAY, 1, @Ff)

          -- Solo tickets con respuesta de confirmacion
          AND NULLIF(
                  LTRIM(RTRIM(QARe_VerificoClasificacion)),
                  N''
              ) IS NOT NULL

        GROUP BY
            CASE
                WHEN UPPER(LTRIM(RTRIM(QARe_VerificoClasificacion)))
                     IN (N'SI', N'SÍ')
                THEN N'Sí'

                WHEN UPPER(LTRIM(RTRIM(QARe_VerificoClasificacion))) = N'NO'
                THEN N'No'

                ELSE N'Sin respuesta'
            END,

            ISNULL(
                NULLIF(LTRIM(RTRIM(Validacion)), N''),
                N'Sin validación'
            )
    )

    SELECT
        FechaInicio = @Fi,
        FechaFin = @Ff,
        ConfirmacionUsuario,
        ValidacionQA,
        CantidadTickets,

        PorcentajeDelTotal =
            CAST(
                100.0 * CantidadTickets
                /
                NULLIF(
                    SUM(CantidadTickets) OVER (),
                    0
                )
                AS DECIMAL(6,2)
            ),

        EsInconsistencia =
            CASE
                WHEN ConfirmacionUsuario = N'Sí'
                 AND ValidacionQA = N'Incorrecto'
                THEN 1
                ELSE 0
            END

    FROM MatrizAgrupada

    ORDER BY
        CASE ConfirmacionUsuario
            WHEN N'Sí' THEN 1
            WHEN N'No' THEN 2
            ELSE 3
        END,

        CASE ValidacionQA
            WHEN N'OK' THEN 1
            WHEN N'Valido' THEN 2
            WHEN N'Incorrecto' THEN 3
            WHEN N'Sin catalogo' THEN 4
            ELSE 5
        END;
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_CorreoQARE_Detalle] Fecha de script: 25/09/2026 11:34:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_CorreoQARE_Detalle]
    @FechaInicio DATE = NULL,  -- Por defecto: fecha final menos 14 dias
    @FechaFin    DATE = NULL   -- Por defecto: fecha actual
AS
BEGIN
    SET NOCOUNT ON;

    /*
        Tablero:
        Calidad de cierre QARE

        Dataset:
        Detalle de tickets QARE

        Objetivo:
        Proporcionar el detalle de los tickets utilizados
        en los KPIs y graficas del tablero.

        Granularidad:
        Una fila por ticket.

        Fuente:
        dbo.vw_CorreoQARECierre_Base

        Fecha oficial:
        FechaFirmaSolucion

        Ventana predeterminada:
        Ultimos 15 dias naturales, incluyendo la fecha final.
    */

    DECLARE @Ff DATE =
        ISNULL(@FechaFin, CONVERT(DATE, GETDATE()));

    DECLARE @Fi DATE =
        ISNULL(@FechaInicio, DATEADD(DAY, -14, @Ff));

    SELECT DISTINCT
        FechaInicio = @Fi,
        FechaFin = @Ff,

        CodigoTicket,
        FechaRegistro,
        FechaFirmaSolucion,

        Tipo,
        TipoRelacion,
        Estado,
        Subestado,

        Categoria,
        Grupo,
        GrupoCorrecto,
        Validacion,

        Tecnico,
        Cliente,
        Sucursal,
        Tienda,
        Titulo,
        Prioridad,

        QA_MensajeError,
        QA_Frecuencia,
        QA_Aplicacion,
        QA_PasoAPaso,

        QARe_Causa,
        QARe_UsuarioConfirmo,
        QARe_AplicaOtrosCasos,
        QARe_GenerarArticulo,
        QARe_VerificoClasificacion,
        QARe_Evidencia,
        QARe_DescripcionSolucion,
        QARe_TipoSolucion,

        /* =====================================================
           Banderas para identificar a qué KPI pertenece el ticket
           ===================================================== */

        EsRecurrente =
            CASE
                WHEN UPPER(LTRIM(RTRIM(QA_Frecuencia)))
                     IN (N'FRECUENTE', N'SIEMPRE')
                THEN 1
                ELSE 0
            END,

        UsuarioConfirmo =
            CASE
                WHEN UPPER(LTRIM(RTRIM(QARe_VerificoClasificacion)))
                     IN (N'SI', N'SÍ')
                THEN 1
                ELSE 0
            END,

        EsCasoReutilizable =
            CASE
                WHEN UPPER(LTRIM(RTRIM(QARe_AplicaOtrosCasos)))
                     IN (N'SI', N'SÍ')
                THEN 1
                ELSE 0
            END,

        EsPotencialKB =
            CASE
                WHEN UPPER(LTRIM(RTRIM(QARe_GenerarArticulo)))
                     IN (N'SI', N'SÍ')
                THEN 1
                ELSE 0
            END,

        /* Confirmó con el usuario, pero el ticket está mal clasificado */
        EsInconsistenciaConfirmacionQA =
            CASE
                WHEN UPPER(LTRIM(RTRIM(QARe_VerificoClasificacion)))
                     IN (N'SI', N'SÍ')
                 AND LTRIM(RTRIM(Validacion)) = N'Incorrecto'
                THEN 1
                ELSE 0
            END,

        /* Aplica a otros casos y se indicó generar artículo */
        EsOportunidadKB =
            CASE
                WHEN UPPER(LTRIM(RTRIM(QARe_AplicaOtrosCasos)))
                     IN (N'SI', N'SÍ')
                 AND UPPER(LTRIM(RTRIM(QARe_GenerarArticulo)))
                     IN (N'SI', N'SÍ')
                THEN 1
                ELSE 0
            END

    FROM dbo.vw_CorreoQARECierre_Base

    WHERE FechaFirmaSolucion >= @Fi
      AND FechaFirmaSolucion < DATEADD(DAY, 1, @Ff)

    ORDER BY
        FechaFirmaSolucion DESC,
        CodigoTicket ASC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_CorreoQARE_Frecuencia] Fecha de script: 25/09/2026 11:34:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_CorreoQARE_Frecuencia]
    @FechaInicio DATE = NULL,
    @FechaFin    DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    /*
        Dataset para gráfica de frecuencia de incidentes.

        Ventana predeterminada:
        Últimos 15 días naturales, incluyendo la fecha final.

        Fuente:
        dbo.vw_CorreoQARECierre_Base

        Fecha oficial:
        FechaFirmaSolucion
    */

    DECLARE @Ff DATE =
        ISNULL(@FechaFin, CONVERT(date, GETDATE()));

    DECLARE @Fi DATE =
        ISNULL(@FechaInicio, DATEADD(DAY, -14, @Ff));

    SELECT
        --FechaInicio = @Fi,
        --FechaFin = @Ff,

        Frecuencia =
            LTRIM(RTRIM(QA_Frecuencia)),

        CantidadTickets =
            COUNT(DISTINCT CodigoTicket),

        Porcentaje =
            CAST(
                100.0 * COUNT(DISTINCT CodigoTicket)
                /
                NULLIF(
                    SUM(COUNT(DISTINCT CodigoTicket)) OVER (),
                    0
                )
                AS DECIMAL(6,2)
            )

    FROM dbo.vw_CorreoQARECierre_Base

    WHERE FechaFirmaSolucion >= @Fi
      AND FechaFirmaSolucion < DATEADD(DAY, 1, @Ff)
      AND NULLIF(LTRIM(RTRIM(QA_Frecuencia)), N'') IS NOT NULL

    GROUP BY
        LTRIM(RTRIM(QA_Frecuencia))

    ORDER BY
        CantidadTickets DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_CorreoQARE_KB] Fecha de script: 25/09/2026 11:34:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_CorreoQARE_KB]
    @FechaInicio DATE = NULL,  -- Por defecto: fecha final menos 14 dias
    @FechaFin    DATE = NULL   -- Por defecto: fecha actual
AS
BEGIN
    SET NOCOUNT ON;

    /*
        Tablero:
        Calidad de cierre QARE

        Dataset:
        Matriz de conocimiento reutilizable y potencial KB

        Objetivo:
        Comparar si la solucion aplica a otros casos contra
        la necesidad de generar o actualizar un articulo.

        Cruce:
        QARe_AplicaOtrosCasos vs QARe_GenerarArticulo

        Fuente:
        dbo.vw_CorreoQARECierre_Base

        Fecha oficial:
        FechaFirmaSolucion

        Ventana predeterminada:
        Ultimos 15 dias naturales, incluyendo la fecha final.
    */

    DECLARE @Ff DATE =
        ISNULL(@FechaFin, CONVERT(DATE, GETDATE()));

    DECLARE @Fi DATE =
        ISNULL(@FechaInicio, DATEADD(DAY, -14, @Ff));

    ;WITH ConocimientoNormalizado AS
    (
        SELECT DISTINCT
            CodigoTicket,

            AplicaOtrosCasos =
                CASE
                    WHEN UPPER(LTRIM(RTRIM(QARe_AplicaOtrosCasos)))
                         IN (N'SI', N'SÍ')
                    THEN N'Sí'

                    WHEN UPPER(LTRIM(RTRIM(QARe_AplicaOtrosCasos))) = N'NO'
                    THEN N'No'

                    ELSE N'Sin respuesta'
                END,

            GenerarArticulo =
                CASE
                    WHEN UPPER(LTRIM(RTRIM(QARe_GenerarArticulo)))
                         IN (N'SI', N'SÍ')
                    THEN N'Sí'

                    WHEN UPPER(LTRIM(RTRIM(QARe_GenerarArticulo))) = N'NO'
                    THEN N'No'

                    ELSE N'Sin respuesta'
                END

        FROM dbo.vw_CorreoQARECierre_Base

        WHERE FechaFirmaSolucion >= @Fi
          AND FechaFirmaSolucion < DATEADD(DAY, 1, @Ff)

          -- Al menos una de las dos preguntas debe tener respuesta
          AND
          (
              NULLIF(
                  LTRIM(RTRIM(QARe_AplicaOtrosCasos)),
                  N''
              ) IS NOT NULL

              OR

              NULLIF(
                  LTRIM(RTRIM(QARe_GenerarArticulo)),
                  N''
              ) IS NOT NULL
          )
    ),
    ConocimientoAgrupado AS
    (
        SELECT
            AplicaOtrosCasos,
            GenerarArticulo,

            CantidadTickets =
                COUNT(DISTINCT CodigoTicket)

        FROM ConocimientoNormalizado

        GROUP BY
            AplicaOtrosCasos,
            GenerarArticulo
    )

    SELECT
        FechaInicio = @Fi,
        FechaFin = @Ff,

        AplicaOtrosCasos,
        GenerarArticulo,
        CantidadTickets,

        PorcentajeDelTotal =
            CAST(
                100.0 * CantidadTickets
                /
                NULLIF(
                    SUM(CantidadTickets) OVER (),
                    0
                )
                AS DECIMAL(6,2)
            ),

        EsOportunidadKB =
            CASE
                WHEN AplicaOtrosCasos = N'Sí'
                 AND GenerarArticulo = N'Sí'
                THEN 1
                ELSE 0
            END

    FROM ConocimientoAgrupado

    ORDER BY
        CASE AplicaOtrosCasos
            WHEN N'Sí' THEN 1
            WHEN N'No' THEN 2
            ELSE 3
        END,

        CASE GenerarArticulo
            WHEN N'Sí' THEN 1
            WHEN N'No' THEN 2
            ELSE 3
        END;
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_CorreoQARE_KPIs] Fecha de script: 25/09/2026 11:34:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_CorreoQARE_KPIs]
    @FechaInicio DATE = NULL,  -- Por defecto: fecha final menos 14 días
    @FechaFin    DATE = NULL   -- Por defecto: fecha actual
AS
BEGIN
    SET NOCOUNT ON;

    /*
        Tablero: Calidad de cierre QARE
        Fuente: dbo.vw_CorreoQARECierre_Base
        Fecha oficial: FechaFirmaSolucion

        Ventana predeterminada:
        Últimos 15 días naturales, incluyendo la fecha final.

        KPI 1:
        Frecuente + Siempre / respuestas de frecuencia

        KPI 2:
        Usuario confirmó = SI / respuestas de confirmación

        KPI 3:
        Aplica a otros casos = SI / respuestas de reutilización

        KPI 4:
        Generar artículo = SI / respuestas de KB
    */

    DECLARE @Ff DATE =
        ISNULL(@FechaFin, CONVERT(date, GETDATE()));

    DECLARE @Fi DATE =
        ISNULL(@FechaInicio, DATEADD(DAY, -14, @Ff));

    SELECT
        --FechaInicio = @Fi,
        --FechaFin = @Ff,

        TotalTicketsPeriodo =
            COUNT(DISTINCT CodigoTicket),

        /* =====================================================
           KPI 1: Incidentes recurrentes
           ===================================================== */

        TicketsConFrecuencia =
            COUNT(DISTINCT
                CASE
                    WHEN NULLIF(LTRIM(RTRIM(QA_Frecuencia)), N'') IS NOT NULL
                    THEN CodigoTicket
                END
            ),

        TicketsRecurrentes =
            COUNT(DISTINCT
                CASE
                    WHEN UPPER(LTRIM(RTRIM(QA_Frecuencia)))
                         IN (N'FRECUENTE', N'SIEMPRE')
                    THEN CodigoTicket
                END
            ),

        PorcentajeRecurrencia =
            CAST(
                100.0 *
                COUNT(DISTINCT
                    CASE
                        WHEN UPPER(LTRIM(RTRIM(QA_Frecuencia)))
                             IN (N'FRECUENTE', N'SIEMPRE')
                        THEN CodigoTicket
                    END
                )
                /
                NULLIF(
                    COUNT(DISTINCT
                        CASE
                            WHEN NULLIF(LTRIM(RTRIM(QA_Frecuencia)), N'')
                                 IS NOT NULL
                            THEN CodigoTicket
                        END
                    ),
                    0
                )
                AS DECIMAL(6,2)
            ),

        /* =====================================================
           KPI 2: Confirmación del usuario
           ===================================================== */

        TicketsConRespuestaConfirmacion =
            COUNT(DISTINCT
                CASE
                    WHEN NULLIF(LTRIM(RTRIM(QARE_VerificoClasificacion)), N'')
                         IS NOT NULL
                    THEN CodigoTicket
                END
            ),

        TicketsConfirmados =
			COUNT(DISTINCT
				CASE
					WHEN UPPER(LTRIM(RTRIM(QARE_VerificoClasificacion)))
						 IN (N'SI', N'SÍ')
					THEN CodigoTicket
				END
			),

		PorcentajeConfirmacion =
			CAST(
				100.0 *
				COUNT(DISTINCT
					CASE
						WHEN UPPER(LTRIM(RTRIM(QARE_VerificoClasificacion)))
							 IN (N'SI', N'SÍ')
						THEN CodigoTicket
					END
				)
				/
				NULLIF(
					COUNT(DISTINCT
						CASE
							WHEN NULLIF(
									 LTRIM(RTRIM(QARE_VerificoClasificacion)),
									 N''
								 ) IS NOT NULL
							THEN CodigoTicket
						END
					),
					0
				)
				AS DECIMAL(6,2)
			),


        /* =====================================================
           KPI 3: Casos reutilizables
           ===================================================== */

        TicketsConRespuestaReutilizacion =
            COUNT(DISTINCT
                CASE
                    WHEN NULLIF(LTRIM(RTRIM(QARe_AplicaOtrosCasos)), N'')
                         IS NOT NULL
                    THEN CodigoTicket
                END
            ),

        CasosReutilizables =
			COUNT(DISTINCT
				CASE
					WHEN UPPER(LTRIM(RTRIM(QARe_AplicaOtrosCasos)))
						 IN (N'SI', N'SÍ')
					THEN CodigoTicket
				END
			),

		PorcentajeCasosReutilizables =
			CAST(
				100.0 *
				COUNT(DISTINCT
					CASE
						WHEN UPPER(LTRIM(RTRIM(QARe_AplicaOtrosCasos)))
							 IN (N'SI', N'SÍ')
						THEN CodigoTicket
					END
				)
				/
				NULLIF(
					COUNT(DISTINCT
						CASE
							WHEN NULLIF(
									 LTRIM(RTRIM(QARe_AplicaOtrosCasos)),
									 N''
								 ) IS NOT NULL
							THEN CodigoTicket
						END
					),
					0
				)
				AS DECIMAL(6,2)
			),

        /* =====================================================
           KPI 4: Potencial de Knowledge Base
           ===================================================== */

        TicketsConRespuestaKB =
            COUNT(DISTINCT
                CASE
                    WHEN NULLIF(LTRIM(RTRIM(QARe_GenerarArticulo)), N'')
                         IS NOT NULL
                    THEN CodigoTicket
                END
            ),

        CasosPotencialKB =
			COUNT(DISTINCT
				CASE
					WHEN UPPER(LTRIM(RTRIM(QARe_GenerarArticulo)))
						 IN (N'SI', N'SÍ')
					THEN CodigoTicket
				END
			),

		PorcentajePotencialKB =
			CAST(
				100.0 *
				COUNT(DISTINCT
					CASE
						WHEN UPPER(LTRIM(RTRIM(QARe_GenerarArticulo)))
							 IN (N'SI', N'SÍ')
						THEN CodigoTicket
					END
				)
				/
				NULLIF(
					COUNT(DISTINCT
						CASE
							WHEN NULLIF(
									 LTRIM(RTRIM(QARe_GenerarArticulo)),
									 N''
								 ) IS NOT NULL
							THEN CodigoTicket
						END
					),
					0
				)
				AS DECIMAL(6,2)
			)

    FROM dbo.vw_CorreoQARECierre_Base
    WHERE FechaFirmaSolucion >= @Fi
      AND FechaFirmaSolucion < DATEADD(DAY, 1, @Ff);
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_CorreoQARE_OportunidadesKB] Fecha de script: 25/09/2026 11:34:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_CorreoQARE_OportunidadesKB]
    @FechaInicio DATE = NULL,  -- Por defecto: fecha final menos 14 dias
    @FechaFin    DATE = NULL   -- Por defecto: fecha actual
AS
BEGIN
    SET NOCOUNT ON;

    /*
        Tablero:
        Calidad de cierre QARE

        Dataset:
        Oportunidades de Knowledge Base por categoria y aplicacion

        Objetivo:
        Identificar donde se concentran los tickets cuya solucion
        aplica a otros casos y donde se indico que debe generarse
        o actualizarse un articulo de conocimiento.

        Condiciones:
        QARe_AplicaOtrosCasos = Si
        QARe_GenerarArticulo = Si

        Fuente:
        dbo.vw_CorreoQARECierre_Base

        Fecha oficial:
        FechaFirmaSolucion

        Ventana predeterminada:
        Ultimos 15 dias naturales, incluyendo la fecha final.
    */

    DECLARE @Ff DATE =
        ISNULL(@FechaFin, CONVERT(DATE, GETDATE()));

    DECLARE @Fi DATE =
        ISNULL(@FechaInicio, DATEADD(DAY, -14, @Ff));

    ;WITH OportunidadesAgrupadas AS
    (
        SELECT
            Categoria =
                ISNULL(
                    NULLIF(LTRIM(RTRIM(Categoria)), N''),
                    N'Sin categoria'
                ),

            Aplicacion =
                ISNULL(
                    NULLIF(LTRIM(RTRIM(QA_Aplicacion)), N''),
                    N'Sin aplicacion'
                ),

            CantidadTickets =
                COUNT(DISTINCT CodigoTicket)

        FROM dbo.vw_CorreoQARECierre_Base

        WHERE FechaFirmaSolucion >= @Fi
          AND FechaFirmaSolucion < DATEADD(DAY, 1, @Ff)

          -- La solucion aplica a otros casos
          AND UPPER(LTRIM(RTRIM(QARe_AplicaOtrosCasos)))
              IN (N'SI', N'SÍ')

          -- Se debe generar o actualizar un articulo
          AND UPPER(LTRIM(RTRIM(QARe_GenerarArticulo)))
              IN (N'SI', N'SÍ')

        GROUP BY
            ISNULL(
                NULLIF(LTRIM(RTRIM(Categoria)), N''),
                N'Sin categoria'
            ),

            ISNULL(
                NULLIF(LTRIM(RTRIM(QA_Aplicacion)), N''),
                N'Sin aplicacion'
            )
    ),
    Resultado AS
    (
        SELECT
            Categoria,
            Aplicacion,
            CantidadTickets,

            TotalOportunidadesKB =
                SUM(CantidadTickets) OVER (),

            Posicion =
                ROW_NUMBER() OVER
                (
                    ORDER BY
                        CantidadTickets DESC,
                        Categoria ASC,
                        Aplicacion ASC
                ),

            PorcentajeOportunidades =
                CAST(
                    100.0 * CantidadTickets
                    /
                    NULLIF(
                        SUM(CantidadTickets) OVER (),
                        0
                    )
                    AS DECIMAL(6,2)
                )

        FROM OportunidadesAgrupadas
    )

    SELECT
        FechaInicio = @Fi,
        FechaFin = @Ff,
        Posicion,
        Categoria,
        Aplicacion,
        CantidadTickets,
        TotalOportunidadesKB,
        PorcentajeOportunidades

    FROM Resultado

    ORDER BY
        Posicion;
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_CorreoQARE_RecurrentesAplicacion] Fecha de script: 25/09/2026 11:34:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_CorreoQARE_RecurrentesAplicacion]
    @FechaInicio DATE = NULL,  -- Por defecto: fecha final menos 14 dias
    @FechaFin    DATE = NULL   -- Por defecto: fecha actual
AS
BEGIN
    SET NOCOUNT ON;

    /*
        Tablero:
        Calidad de cierre QARE

        Dataset:
        Incidentes recurrentes por aplicacion

        Objetivo:
        Identificar las aplicaciones que concentran la mayor
        cantidad de tickets marcados como Frecuente o Siempre.

        Fuente:
        dbo.vw_CorreoQARECierre_Base

        Campo de agrupacion:
        QA_Aplicacion

        Campo de recurrencia:
        QA_Frecuencia

        Fecha oficial:
        FechaFirmaSolucion

        Ventana predeterminada:
        Ultimos 15 dias naturales, incluyendo la fecha final.
    */

    DECLARE @Ff DATE =
        ISNULL(@FechaFin, CONVERT(DATE, GETDATE()));

    DECLARE @Fi DATE =
        ISNULL(@FechaInicio, DATEADD(DAY, -14, @Ff));

    ;WITH RecurrentesPorAplicacion AS
    (
        SELECT
            Aplicacion =
                LTRIM(RTRIM(QA_Aplicacion)),

            CantidadTickets =
                COUNT(DISTINCT CodigoTicket)

        FROM dbo.vw_CorreoQARECierre_Base

        WHERE FechaFirmaSolucion >= @Fi
          AND FechaFirmaSolucion < DATEADD(DAY, 1, @Ff)

          -- Solo tickets recurrentes
          AND UPPER(LTRIM(RTRIM(QA_Frecuencia)))
              IN (N'FRECUENTE', N'SIEMPRE')

          -- Excluir aplicaciones nulas, vacias o con espacios
          AND NULLIF(LTRIM(RTRIM(QA_Aplicacion)), N'') IS NOT NULL

        GROUP BY
            LTRIM(RTRIM(QA_Aplicacion))
    ),
    Resultado AS
    (
        SELECT
            Aplicacion,
            CantidadTickets,

            TotalTicketsRecurrentes =
                SUM(CantidadTickets) OVER (),

            Posicion =
                ROW_NUMBER() OVER
                (
                    ORDER BY
                        CantidadTickets DESC,
                        Aplicacion ASC
                ),

            PorcentajeRecurrentes =
                CAST(
                    100.0 * CantidadTickets
                    /
                    NULLIF(
                        SUM(CantidadTickets) OVER (),
                        0
                    )
                    AS DECIMAL(6,2)
                )

        FROM RecurrentesPorAplicacion
    )

    SELECT
        FechaInicio = @Fi,
        FechaFin = @Ff,
        Posicion,
        Aplicacion,
        CantidadTickets,
        TotalTicketsRecurrentes,
        PorcentajeRecurrentes

    FROM Resultado

    ORDER BY
        Posicion;
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_CorreoQARE_RecurrentesCategoria] Fecha de script: 25/09/2026 11:34:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_CorreoQARE_RecurrentesCategoria]
    @FechaInicio DATE = NULL,  -- Por defecto: fecha final menos 14 dias
    @FechaFin    DATE = NULL   -- Por defecto: fecha actual
AS
BEGIN
    SET NOCOUNT ON;

    /*
        Tablero:
        Calidad de cierre QARE

        Dataset:
        Incidentes recurrentes por categoria

        Objetivo:
        Identificar las categorias que concentran la mayor
        cantidad de tickets marcados como Frecuente o Siempre.

        Fuente:
        dbo.vw_CorreoQARECierre_Base

        Fecha oficial:
        FechaFirmaSolucion

        Ventana predeterminada:
        Ultimos 15 dias naturales, incluyendo la fecha final.
    */

    DECLARE @Ff DATE =
        ISNULL(@FechaFin, CONVERT(DATE, GETDATE()));

    DECLARE @Fi DATE =
        ISNULL(@FechaInicio, DATEADD(DAY, -14, @Ff));

    ;WITH RecurrentesPorCategoria AS
    (
        SELECT
            Categoria =
                LTRIM(RTRIM(Categoria)),

            CantidadTickets =
                COUNT(DISTINCT CodigoTicket)

        FROM dbo.vw_CorreoQARECierre_Base

        WHERE FechaFirmaSolucion >= @Fi
          AND FechaFirmaSolucion < DATEADD(DAY, 1, @Ff)

          -- Solo tickets recurrentes
          AND UPPER(LTRIM(RTRIM(QA_Frecuencia)))
              IN (N'FRECUENTE', N'SIEMPRE')

          -- Excluir categorias nulas, vacias o con espacios
          AND NULLIF(LTRIM(RTRIM(Categoria)), N'') IS NOT NULL

        GROUP BY
            LTRIM(RTRIM(Categoria))
    ),
    Resultado AS
    (
        SELECT
            Categoria,
            CantidadTickets,

            TotalTicketsRecurrentes =
                SUM(CantidadTickets) OVER (),

            Posicion =
                ROW_NUMBER() OVER
                (
                    ORDER BY
                        CantidadTickets DESC,
                        Categoria ASC
                ),

            PorcentajeRecurrentes =
                CAST(
                    100.0 * CantidadTickets
                    /
                    NULLIF(
                        SUM(CantidadTickets) OVER (),
                        0
                    )
                    AS DECIMAL(6,2)
                )

        FROM RecurrentesPorCategoria
    )

    SELECT
        FechaInicio = @Fi,
        FechaFin = @Ff,
        Posicion,
        Categoria,
        CantidadTickets,
        TotalTicketsRecurrentes,
        PorcentajeRecurrentes

    FROM Resultado

    ORDER BY
        Posicion;
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_CorreoQARE_TipoSolucion] Fecha de script: 25/09/2026 11:34:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_CorreoQARE_TipoSolucion]
    @FechaInicio DATE = NULL,  -- Por defecto: fecha final menos 14 dias
    @FechaFin    DATE = NULL   -- Por defecto: fecha actual
AS
BEGIN
    SET NOCOUNT ON;

    /*
        Tablero:
        Calidad de cierre QARE

        Dataset:
        Distribucion por tipo de solucion

        Objetivo:
        Identificar los tipos de solucion mas utilizados
        para resolver los tickets.

        Fuente:
        dbo.vw_CorreoQARECierre_Base

        Campo analizado:
        QARe_TipoSolucion

        Fecha oficial:
        FechaFirmaSolucion

        Ventana predeterminada:
        Ultimos 15 dias naturales, incluyendo la fecha final.
    */

    DECLARE @Ff DATE =
        ISNULL(@FechaFin, CONVERT(DATE, GETDATE()));

    DECLARE @Fi DATE =
        ISNULL(@FechaInicio, DATEADD(DAY, -14, @Ff));

    ;WITH TipoSolucionAgrupado AS
    (
        SELECT
            TipoSolucion =
                LTRIM(RTRIM(QARe_TipoSolucion)),

            CantidadTickets =
                COUNT(DISTINCT CodigoTicket)

        FROM dbo.vw_CorreoQARECierre_Base

        WHERE FechaFirmaSolucion >= @Fi
          AND FechaFirmaSolucion < DATEADD(DAY, 1, @Ff)

          -- Excluir respuestas nulas, vacias o con espacios
          AND NULLIF(
                  LTRIM(RTRIM(QARe_TipoSolucion)),
                  N''
              ) IS NOT NULL

        GROUP BY
            LTRIM(RTRIM(QARe_TipoSolucion))
    ),
    Resultado AS
    (
        SELECT
            TipoSolucion,
            CantidadTickets,

            TotalTicketsConTipoSolucion =
                SUM(CantidadTickets) OVER (),

            Posicion =
                ROW_NUMBER() OVER
                (
                    ORDER BY
                        CantidadTickets DESC,
                        TipoSolucion ASC
                ),

            Porcentaje =
                CAST(
                    100.0 * CantidadTickets
                    /
                    NULLIF(
                        SUM(CantidadTickets) OVER (),
                        0
                    )
                    AS DECIMAL(6,2)
                )

        FROM TipoSolucionAgrupado
    )

    SELECT
        FechaInicio = @Fi,
        FechaFin = @Ff,
        Posicion,
        TipoSolucion,
        CantidadTickets,
        TotalTicketsConTipoSolucion,
        Porcentaje

    FROM Resultado

    ORDER BY
        Posicion;
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_Dash_SlaLiderGrupo] Fecha de script: 25/09/2026 11:34:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Dash_SlaLiderGrupo]
    @FechaInicio DATE = NULL,
    @FechaFin DATE = NULL,
    @Grupos NVARCHAR(MAX) = NULL,
    @Tecnicos NVARCHAR(MAX) = NULL,
	@Manager NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Fi DATE = ISNULL(@FechaInicio, CONVERT(date, GETDATE()));
    DECLARE @Ff DATE = ISNULL(@FechaFin, @Fi);

    ;WITH base AS
    (
        SELECT *
        FROM dbo.vw_Dash_ProductividadBase b
        WHERE b.FechaFirmaSolucion >= @Fi
          AND b.FechaFirmaSolucion < DATEADD(DAY, 1, @Ff)

          -- Mismo criterio que usp_Dash_KpisMulti:
          -- rechazar no es resolver.
          AND b.EsRechazado = 0

          -- Mismos filtros opcionales del dashboard.
          AND
          (
              NULLIF(LTRIM(RTRIM(@Grupos)), N'') IS NULL
              OR b.Grupo IN
              (
                  SELECT Valor
                  FROM dbo.fn_Dash_SplitList(@Grupos)
              )
          )

          AND
          (
              NULLIF(LTRIM(RTRIM(@Tecnicos)), N'') IS NULL
              OR b.Tecnico IN
              (
                  SELECT Valor
                  FROM dbo.fn_Dash_SplitListPipe(@Tecnicos)
              )
          )
		  AND (
        NULLIF(LTRIM(RTRIM(@Manager)), N'') IS NULL
        OR b.Lider IN (
            SELECT Valor
            FROM dbo.fn_Dash_SplitList(@Manager)
        )
    )
    )
    SELECT
        Lider,
        Grupo,

        TicketsResueltos =
            COUNT_BIG(*),

--        TicketsEvaluables =
--            SUM(
--                CASE
--                    WHEN SlaEvaluableResuelto = 1 THEN 1
--                    ELSE 0
--                END
--            ),

        TicketsDentroSla =
            SUM(
                CASE
                    WHEN DentroSla = 1 THEN 1
                    ELSE 0
                END
            ),

        TicketsFueraSla =
            SUM(
                CASE
                    WHEN SlaVencido = 1 THEN 1
                    ELSE 0
                END
            ),

--        TicketsNoEvaluables =
--            SUM(
--                CASE
--                    WHEN SlaEvaluableResuelto = 0 THEN 1
--                    ELSE 0
--                END
--            ),

        CumplimientoSlaPct =
            CAST
            (
                100.0
                * SUM(
                    CASE
                        WHEN DentroSla = 1 THEN 1
                        ELSE 0
                    END
                )
                / NULLIF(
                    SUM(
                        CASE
                            WHEN SlaEvaluable = 1 THEN 1
                            ELSE 0
                        END
                    ),
                    0
                )
                AS DECIMAL(6,2)
            ),

        IncumplimientoSlaPct =
            CAST
            (
                100.0
                * SUM(
                    CASE
                        WHEN SlaVencido = 1 THEN 1
                        ELSE 0
                    END
                )
                / NULLIF(
                    SUM(
                        CASE
                            WHEN SlaEvaluable = 1 THEN 1
                            ELSE 0
                        END
                    ),
                    0
                )
                AS DECIMAL(6,2)
            ),

        TicketsReabiertos =
            SUM(
                CASE
                    WHEN EsReabierto = 1 THEN 1
                    ELSE 0
                END
            ),

        ReabiertosPct =
            CAST
            (
                100.0
                * SUM(
                    CASE
                        WHEN EsReabierto = 1 THEN 1
                        ELSE 0
                    END
                )
                / NULLIF(COUNT_BIG(*), 0)
                AS DECIMAL(6,2)
            )

    FROM base
    GROUP BY
        Lider,
        Grupo
    ORDER BY
        Lider,
        Grupo;
END;
GO
